<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug"
               strict="true"
               name="XMLConfigTest"
               packages="org.apache.logging.log4j.test">
    <Filter type="ThresholdFilter" level="trace"/>
    <Properties>
        <Property name="tomcat.catalina.base">@tomcat.catalina.base@</Property>
    </Properties>
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Appender>
        <Appender type="Console" name="FLOW">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/><!-- class and line number -->
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Appender>
        <RollingFile name="RollingFile" fileName="${tomcat.catalina.base}/logs/holiday.log"
                     filePattern="${tomcat.catalina.base}/logs/$${date:yyyy-MM}/holiday-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Logger name="com" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="io" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
