<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug"
               strict="true"
               name="XMLConfigTest"
               packages="org.apache.logging.log4j.test">
    <Filter type="ThresholdFilter" level="trace"/>
    <Appenders>
        <RollingFile name="RollingFile" fileName="${sys:log.path:-/var/log}/holiday.log"
                     filePattern="${sys:log.path:-/var/log}/history/$${date:yyyy-MM}/holiday-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
